@import "tailwindcss";

.main-bg-color{
  background-color: #004BAB;
}

.text-color{
  color: #004BAB;
}
.footer-bg-color{
  background-color: #003170;
}

.my-container{
  max-width: 1920px;
}
.product-active{
  background-color: #9FC9FF;
}